In [1]:
from citipy import citipy
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import seaborn as sns
import numpy as np

In [2]:
#Configure api
#OpenWeatherMap Api Key
key = "e7604e67af391c6626ebac727adc2e59"
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "Imperial"

In [3]:
#Set up list of randomly generated longitude and latitude
citydf = pd.DataFrame()
citydf["Latitude"] = [(np.random.uniform(-90, 90)) for x in range (10)]
citydf["Longitude"]  = [(np.random.uniform(-180, 180)) for x in range (10)]

city_list = []
country_list = []
for index, row in citydf.iterrows():
    city=citipy.nearest_city(row["Latitude"],row["Longitude"])
    city_list.append(city.city_name)
    country_list.append(city.country_code)
citydf["City"] = city_list
citydf["Country"] = country_list

citydf

    Latitude   Longitude        City Country
0 -12.539392 -128.005765      atuona      pf
1  16.633204   82.109425  amalapuram      in
2 -64.585516  -18.632887        chuy      uy
3 -47.199770   53.216629   taolanaro      mg
4  33.565471  -83.462132    eatonton      us
5  59.687464  -43.038861  nanortalik      gl
6 -73.178926 -169.605674       vaini      to
7 -58.339736 -161.211100     mataura      pf
8 -63.357963 -155.852446     mataura      pf
9  49.589468    7.956585   eisenberg      de

In [4]:
#Perform API Calls

In [31]:
# Create empty columnns for data
citydf["Cloudiness"] = ""
citydf["Date"] = ""
citydf["Humidity"] = ""
citydf["Max Temp"] = ""
citydf["Wind Speed"] = ""


# Counter
row_count = 0

# Loop through 
for index, row in citydf.iterrows():
    
    if(index<10):
        # Create endpoint url 
        city = row["City"]
        target_url = url + "&units=" + units + "&appid=" + key + "&q=" + city

        # Print log to ensure loop is working correctly
        print("Now retrieving city # " + str(row_count))
        print(target_url)
        row_count += 1

        data = requests.get(target_url).json()
        try:
            clouds = data['clouds']['all']
            date = data['dt']
            humidity = data['main']['humidity']
            temp = data['main']['temp_max']
            wind = data['wind']['speed']
            citydf.set_value(index, "Cloudiness", clouds)
            citydf.set_value(index, "Date", date)
            citydf.set_value(index, "Humidity", humidity)
            citydf.set_value(index, "Max Temp", temp)
            citydf.set_value(index, "Wind Speed", wind)
        except:
            print("Missing Data")

Now retrieving city # 0
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=atuona
{'coord': {'lon': -139.03, 'lat': -9.8}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'base': 'stations', 'main': {'temp': 80.06, 'pressure': 1022.86, 'humidity': 100, 'temp_min': 80.06, 'temp_max': 80.06, 'sea_level': 1022.89, 'grnd_level': 1022.86}, 'wind': {'speed': 10.65, 'deg': 70.501}, 'clouds': {'all': 44}, 'dt': 1513723920, 'sys': {'message': 0.1636, 'country': 'PF', 'sunrise': 1513695178, 'sunset': 1513740898}, 'id': 4020109, 'name': 'Atuona', 'cod': 200}
Now retrieving city # 1
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=amalapuram
{'coord': {'lon': 82.02, 'lat': 16.58}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 68.68, 'pressure': 1029.99, 'humidity': 81, 'temp_min': 68.68, 'temp_max': 68.68, 'sea_level': 1030.55, 'grnd_level': 1029.99}, 'wind': {'speed': 10.65, 'deg': 44.501}, 'clouds': {'all': 0}, 'dt': 1513723920, 'sys': {'message': 0.1643, 'country': 'IN', 'sunrise': 1513644911, 'sunset': 1513685025}, 'id': 1278935, 'name': 'Amalapuram', 'cod': 200}
Now retrieving city # 2
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=chuy
{'coord': {'lon': -53.46, 'lat': -33.7}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 67.23, 'pressure': 1030.48, 'humidity': 80, 'temp_min': 67.23, 'temp_max': 67.23, 'sea_level': 1032.01, 'grnd_level': 1030.48}, 'wind': {'speed': 12.55, 'deg': 67.001}, 'clouds': {'all': 68}, 'dt': 1513723921, 'sys': {'message': 0.165, 'country': 'UY', 'sunrise': 1513671580, 'sunset': 1513723410}, 'id': 3443061, 'name': 'Chuy', 'cod': 200}
Now retrieving city # 3
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=taolanaro
{'cod': '404', 'message': 'city not found'}
Missing Data
Now retrieving city # 4
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=eatonton
{'coord': {'lon': -83.39, 'lat': 33.33}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 66.56, 'pressure': 1020, 'humidity': 68, 'temp_min': 64.4, 'temp_max': 69.8}, 'visibility': 16093, 'wind': {'speed': 9.17, 'deg': 270}, 'clouds': {'all': 1}, 'dt': 1513722900, 'sys': {'type': 1, 'id': 784, 'message': 0.1642, 'country': 'US', 'sunrise': 1513686777, 'sunset': 1513722583}, 'id': 4192800, 'name': 'Eatonton', 'cod': 200}
Now retrieving city # 5
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=nanortalik
{'coord': {'lon': -45.24, 'lat': 60.14}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 26.15, 'pressure': 999.59, 'humidity': 100, 'temp_min': 26.15, 'temp_max': 26.15, 'sea_level': 1011.78, 'grnd_level': 999.59}, 'wind': {'speed': 11.54, 'deg': 298.501}, 'clouds': {'all': 32}, 'dt': 1513723921, 'sys': {'message': 0.1674, 'country': 'GL', 'sunrise': 1513685030, 'sunset': 1513706010}, 'id': 3421765, 'name': 'Nanortalik', 'cod': 200}
Now retrieving city # 6
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=vaini
{'coord': {'lon': -175.2, 'lat': -21.2}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 80.6, 'pressure': 1009, 'humidity': 61, 'temp_min': 80.6, 'temp_max': 80.6}, 'visibility': 10000, 'wind': {'speed': 4.7, 'deg': 150}, 'clouds': {'all': 75}, 'dt': 1513720800, 'sys': {'type': 1, 'id': 8323, 'message': 0.1656, 'country': 'TO', 'sunrise': 1513702554, 'sunset': 1513750891}, 'id': 4032243, 'name': 'Vaini', 'cod': 200}
Now retrieving city # 7
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=mataura
{'cod': '404', 'message': 'city not found'}
Missing Data
Now retrieving city # 8
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=mataura
{'cod': '404', 'message': 'city not found'}
Missing Data
Now retrieving city # 9
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=eisenberg
{'coord': {'lon': 11.9, 'lat': 50.97}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50n'}], 'base': 'stations', 'main': {'temp': 37.35, 'pressure': 1031, 'humidity': 100, 'temp_min': 35.6, 'temp_max': 39.2}, 'visibility': 4000, 'wind': {'speed': 5.82, 'deg': 290}, 'clouds': {'all': 75}, 'dt': 1513722000, 'sys': {'type': 1, 'id': 4889, 'message': 0.2461, 'country': 'DE', 'sunrise': 1513667547, 'sunset': 1513696057}, 'id': 2931521, 'name': 'Eisenberg', 'cod': 200}

In [32]:
citydf.head()

,Latitude,Longitude,City,Country,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,-12.539392,-128.005765,atuona,pf,44,1513723920,100,80.06,10.65
1,16.633204,82.109425,amalapuram,in,0,1513723920,81,68.68,10.65
2,-64.585516,-18.632887,chuy,uy,68,1513723921,80,67.23,12.55
3,-47.199770,53.216629,taolanaro,mg,,,,,
4,33.565471,-83.462132,eatonton,us,1,1513722900,68,69.8,9.17